<!DOCTYPE html>
<html>
<head>
    <title>SMS AI Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">
    <h2> SMS AI Bot</h2>

    <div id="chat-box"></div>

    <div class="input-box">
        <input type="text" id="msg" placeholder="Ask anything...">
        <button onclick="sendMsg()">Send</button>

        <button onclick="startVoice()">🎤 Speak</button>
    </div>
</div>

<script>
function sendMsg(){

    let speech = new SpeechSynthesisUtterance(data.reply);
speech.lang = "hi-IN";   // Hindi voice
speech.rate = 1;
speech.pitch = 1;
window.speechSynthesis.speak(speech);
    
    let msg = document.getElementById("msg").value;

    if(msg === "") return;

    document.getElementById("chat-box").innerHTML +=
    "<div class='user'>You: " + msg + "</div>";

    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({message: msg})
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("chat-box").innerHTML +=
        "<div class='bot'>Bot: " + data.reply + "</div>";
    });

    document.getElementById("msg").value = "";
}
    function startVoice(){
    let recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
    recognition.lang = "hi-IN";   // Hindi input

    recognition.onstart = function(){
        console.log("Voice started...");
    }

    recognition.onresult = function(event){
        let text = event.results[0][0].transcript;
        document.getElementById("msg").value = text;
        sendMsg(); // auto send
    }

    recognition.start();
    }
</script>

</body>
</html>
